@font-face { /* college block for title */
    font-family: "minecraft";
    src: url("../assets/fonts/MinecraftRegular-Bmg3.otf");
}

/* -------------------------------------------------------------------------- */
/*                                    RESET                                   */
/* -------------------------------------------------------------------------- */
* {
    margin: 0;
    box-sizing: border-box;
    appearance: none;
    font: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */
body {
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: minecraft;
}

.button {
    position: relative;
    font-size: 1.5rem;
    width: 23.32em;
    height: 2.3em;
    border: none;
    background-image: url("../assets/images/button-bg.jpg");
    background-size:100% 100%;
    /* background-size: cover; */
    color: white;
    text-shadow: 0.1em 0.1em 0 #3d3d3d;
}
.button:hover {
    background-image: url("../assets/images/button-bg-hover.jpg");
    color: #ffffa0;
}

a {
    color: #ffffa0;
    text-decoration: none;
    text-shadow: 0.01em 0.01em 0 black;
    letter-spacing: 0.04em;
}

.yellow {
    color: #ffffa0;
}

.h1 {
    font-size: 5rem;
    color: white;
    text-shadow: 0.1em 0.1em 0 #4d4d4de3;
}

.h2 {
    font-size: 2rem;
    color: white;
    text-shadow: 0.1em 0.1em 0 #4d4d4de3;
}

.h3 {
    font-size: 1.5rem;
    color: white;
    text-shadow: 0.1em 0.1em 0 #4d4d4de3;
}

canvas {
    background-color: #82C0CC;
    background-color: radial-gradient();
    background: linear-gradient(-190deg, #B7DAE1 0%, #6ebac9 100%);
    max-width: 100%;
    max-height: 100vh;
    max-height: 100dvh;
    object-fit: contain;
}

input, select {
    position: relative;
    font-size: 1.5rem;
    width: 23.32em;
    height: 2.3em;
    border: 0.12em solid white;
    background-color: black;
    padding-left: 0.8em;
    color: white;
}
input:focus, select:focus {
    outline: 1px solid white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    z-index: 5;
}
.modal.hidden {
    display: none !important;
}


.score-container {
    position: fixed;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
}

.game-over {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    padding: 5vh 5vw;

    background-color: black;
    background-color: rgba(184, 44, 44, 0.397);
    background: linear-gradient(-5deg, rgba(193, 36, 36, 0.555) 20%, rgba(74,9,9,0.5326505602240896) 100%);
}

.seed {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.mode-container {
    position: fixed;
    top: 0.5em;
    left: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.mode-container select {
    padding: 0 1em;
    font-size: 1rem;
    width: auto;
}

.sound-container {
    position: fixed;
    bottom: 0.5em;
    left: 1em;
}

.toggle-sound {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-sound .hidden {
    display: none;
}

.toggle-sound img {
    object-fit: contain;
    max-width: 70%;
}

.info-container {
    position: fixed;
    bottom: 0.5em;
    right: 1em;
}

.round-btn {
    width: 2em;
    height: 2em;
    background-image: url("../assets/images/round-button-bg.png");
    background-color: transparent;
    background-size: cover;
}
.round-btn:hover {
    background-image: url("../assets/images/round-button-bg-hover.png");
}

.infos {
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: url("../assets/images/dirt-bg.webp");
    background-size: cover;
    overflow: auto;
}

.infos .content {
    max-width: 900px;
    min-height: 100vh;
    min-height: 100dvh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    gap: 3em;
}

.content .h1 {
    text-align: center;
}
.infos p {
    color: white;
    font-size: 1.1rem;
}

.infos button {
    margin: 0 auto;
}
.cp {
    position: fixed;
    bottom: 0.5em;
}

.content section {
    margin: 0.5em 0;
}

.content img {
    display: block;
    margin: 0.5em auto;
}

#aspect-alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: url("../assets/images/dirt-bg.webp");
    background-size: cover;
    overflow: auto;
    text-align: center;
}
#aspect-alert img {
    width: 10em;
}

.mobile-controls {
    display: none;
}

.mobile-controls button {
    position: fixed;
    border: none;
    padding: none;
    margin: none;
    background: none;
    width: 1.5em;
    cursor: pointer;
}