* {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: #82C0CC;
    background-color: radial-gradient();
    background: linear-gradient(180deg, #A8D3DC 0%, #82C0CC 100%);
    max-width: 100%;
    max-height: 100vh;
    max-height: 100dvh;
    object-fit: contain;
}